{% extends 'base.html' %}

{% block title %}
    Scrumptious Taco Recipes
{% endblock title %}

{% block content %}
    <header>
        <nav>
            <a href="{% url 'recipe_list' %}">Main page</a>
            <a href="{% url 'create_recipe' %}">Create a recipe</a>
        </nav>
    </header>
    <main>
        <h1>Scrumptious Taco Recipes</h1>
        <h2>All the food that's fit to eat</h2>
    <div class="main">
        {% for recipe in recipe_list %}
        <div>
            <h3>
                <a href="{% url 'show_recipe' recipe.id %}">{{ recipe.title }}</a>
            </h3>
            <p>Published: {{ recipe.created_on|date:"m-j-Y" }}</p>
            <img src="{{ recipe.picture|default:"https:via.placeholder.com/150"}}">
            <div>4.3 stars</div>
        </div>
        {% empty %}
        <p>There are no recipes.</p>
        {% endfor %}
    </div>
    </main>
    {% endblock content %}
    